<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695641327682-acvlhcb87ggd8jeavla951cqbcnj9ftb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695641327682-acvlhcb87ggd8jeavla951cqbcnj9ftb</string>
	<key>API_KEY</key>
	<string>AIzaSyBOWLSTdGevaofMgE0g4dh7Qw8EkH6fW3c</string>
	<key>GCM_SENDER_ID</key>
	<string>695641327682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.souschef</string>
	<key>PROJECT_ID</key>
	<string>home-chef-3q2zof</string>
	<key>STORAGE_BUCKET</key>
	<string>home-chef-3q2zof.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695641327682:ios:c78cd2bc43b160bbc205db</string>
</dict>
</plist>